.header{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #424242;
  padding: 0 0.4em;
  position: fixed;
  z-index: 1000;
  box-shadow:  0 0 25px 2px rgb(135, 206, 235);
}


.nav_header{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transition: linear;
  background-color: rgba(0, 0, 0, .7);
  z-index: 100;
  transform: translateX(-100%);

}
.nav_header.open_menu{
  transform: translateX(0);
}
.menu_list{
  background: #212121;
  display: flex;
  flex-direction:column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  
} 
.link_item{
  margin-top: 4rem;
  color:#444444;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  text-align: start;
}

.link_item::after{
  position: absolute;
  content: '';
  background-color: #fff;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.link_item:hover::after{
  transform: scaleX(1);
}
.link_item a{
  color: #fff; 
}

.link_item a:hover {
  font-size: 1.01rem;
}

.menu_hamburger{
  z-index: 300;
  cursor:  pointer;
  right: 0;
  color: #121212;

}
.bx-menu{
  font-size: 3em;
  right: 0;
  color: #fff;
}
.bx-x{
  font-size: 3em;
  left: 60%;
  color: #fff;
}
.dark_mode{
  font-size: 1.5em;
  padding: 25px;
  z-index: 1000;
}

@media (min-width:650px){
  .menu_hamburger{
    display: none;
  }
  .nav_header{
    position: static;
    transform: translateX(0);
    flex-basis: 100%;
    height: 100%;
    transition: linear;
  }
  .menu_list{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: #424242;
    position: absolute;
    display: flex;
  }
  .link_item{
    display: inline-block;
    margin-top: 0;
    margin-right: 2em;
  }

  .menu_hamburguer{
    position: absolute;
    right: 0;
    background-color: #212121;
  
  }
  .bx-x{
    font-size: 3em;
    left: 40%;
    z-index: 500;
    position: fixed;
    color: #fff;
    background-color: aqua;
  }
  .dark_mode{
    position: fixed;
    z-index: 300;
  }
  .header_list{
    flex-direction: row;
  }
  .header_list li{
    padding: 20px;
  }
}