.habilidades{
    min-height: 88vh;
}
.skill_name{
    padding: 50px;
}
.skills_title{
    font-size: 3rem;
    text-align: center;
}

.bx-skill{
    font-size: 70px;
}
.bxl-html5{
    color: rgb(231, 115, 19);
}
.bxl-css3{
    color: rgb(28, 28, 245);
}
.bxl-bootstrap {
    color: rgb(76, 11, 206);
}
.bxl-redux {
    color: rgb(118, 74, 188);
}
.bxl-javascript {
    color: rgb(248, 248, 13);
}
.bxl-react{
    color: rgb(11, 245, 245);
}
.bxl-nodejs{
    color: rgb(3, 143, 3);
}
.bxl-github{
    color: rgb(15, 15, 15);
} 
.bxl-postgresql {
    color: rgb(51, 103, 145);
}
.skill_ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    justify-content: center;
}
.skill_list{
    height: 100px;
    background-color: rgb(83, 83, 83);
    color: #fff;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 5px 5px var(--skyBlue);
}
.skill_list:nth-child(1){
    box-shadow: 0 2px 4px  rgb(231, 115, 19);
}
.skill_list:nth-child(2){
    box-shadow: 0 2px 4px  rgb(28, 28, 245);
}
.skill_list:nth-child(3){
    box-shadow: 0 2px 4px  rgb(76, 11, 206);
}
.skill_list:nth-child(4){
    box-shadow: 0 2px 4px   rgb(248, 248, 13);
}
.skill_list:nth-child(5){
    box-shadow: 0 2px 4px  rgb(11, 245, 245);
}
.skill_list:nth-child(6){
    box-shadow: 0 2px 4px  rgb(118, 74, 188);
}
.skill_list:nth-child(7){
    box-shadow: 0 2px 4px  rgb(3, 143, 3);
}
.skill_list:nth-child(8){
    box-shadow: 0 2px 4px  rgb(51, 103, 145);
}
.skill_list:nth-child(9){
    box-shadow: 0 2px 4px  rgb(15, 15, 15);
}


.skill_list:hover {
    transform: scale(1.01);
}

@media (min-width: 1080px) {
    .skill_ul{
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        justify-content: center;
    }
}